@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    /* border: 2px solid red;   */
}
body {
    background-color: var(--Very-Light-Gray);
}
p {
    line-height: 1.5;
    color: var(--Grayish-Blue);
    font-size: 18px;
}
main {
    overflow-x: hidden;
}
ul {
    list-style-type: none;
}
a {

    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.container {
    max-width: 1440px;
    margin: auto;
    padding: 0px 100px;
}
.flex {
    display: flex;
}
.grid {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.d-none {
    display: none;
}
.desk-none {
    display: none;
} 
.btn {
    padding: 10px 20px;
    border-radius: 2rem;
    border: none;
    color: #ffffff;
    background-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    outline: none;
    /* font-size: 18px; */
}
.btn:hover {
    /* background-image: linear-gradient(45deg, var(--Lime-Green), var(--Bright-Cyan)); */
    cursor: pointer;
    font-size: 17px;
    opacity: .8;
}
.header {
    background: var(--White);
}
.nav {
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 15px 0;
}
.hamburger {
    outline: none;
    border: none;
    background: transparent;
}
.nav-li {
    /* padding: 25px 0px; */
    margin: 0px 15px;
}
.nav-links {
    padding: 25px 0px;
    color: var(--Grayish-Blue);
    /* margin: 0px 10px; */
}
.nav-links:hover {
    /* border-bottom: 4px solid; */
    border-bottom: 4px solid var(--Lime-Green);
    border-image: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    border-image-slice: 4;
    /* border-image: linear-gradient(red, blue) 27 / 35px; */
    /* border-bottom: 20px solid green;   */
    /* border-image-source: linear-gradient(lightgreen, darkgreen); */
}
.menu-toggle {
    background: transparent;
    padding: 0;
}
.landing .container {
    padding-right: 0px;
}
.landing-body {
    justify-content: space-between;
}
.content-left {
    padding: 120px 0px;
    max-width: 450px;
}
.main-heading {
    max-width: 400px;
    /* font-size: 35px; */
    font-size: 40px;
    font-weight: 500;
    /* margin-bottom: 25px; */
}
.main-note {
    /* font-size: 18px; */
    margin: 25px 0;
    /* line-height: 1.5; */
    /* color: var(--Grayish-Blue); */
}
.mockup-div {
    background: hsl(0, 0%, 98%) url("../images/bg-intro-desktop.svg") no-repeat;
    /* background-position: top center; */
    background-position: 150px -100px;
    background-size: cover;
    width: 70%;
    /* padding-top: 90%; */
    position: relative;
}
.mockup-img {
    position: absolute;
    top: -100px;
    right: -120px;
    width: 80%;
}
.blog {
    padding: 40px 0;
}
.articles-container {
    margin: 25px 0;
}
.card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.card-images {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.card-body {
    padding: 25px 15px;
}
.card-link {
    margin: 10px 0;
}
.card-link:hover {
    color: var(--Lime-Green);
}

.about {
    /* background-color: var(--Grayish-Blue); */
    background-color: var(--Light-Grayish-Blue);
    padding: 40px 0;
}
.easy-options {
    max-width: 600px;
    /* padding-top: 5rem; */
    margin-top: 50px;
}
.easy-h2 {
    font-size: 30px;
    margin: 20px 0;
    /* margin-bottom: 1.5rem; */
}
.options-container {
    margin-top: 40px;
    /* padding-bottom: 3rem; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* justify-content: space-between; */
    /* align-content: space-between; */
}
.option {
    /* margin-right: 5rem; */
}
.options-h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}
.footer {
    background-color: var(--Dark-Blue);
    color: var(--White);
    padding: 40px 0;
}
.foot-main {
    justify-content: space-between;
}
.foot-top {
    margin-top: 10px;
}
.foot-flx {
    flex-direction: column;
    justify-content: space-between;
}
.footer-right {
    padding: 15px 0;
    align-items: flex-end;
}
.icons-links {
    padding: 15px 5px;
}
.icons-links svg {
    fill: var(--White);
}
.icons-links:hover svg {
    fill: var(--Lime-Green);
}
.footer-list {
    /* margin: 15px 35px; */
    padding: 15px 30px;
}
.foot-li {
    padding: 10px;
    /* line-height: 33px; */
}
.copyright {
    margin-top: 15px;
}
.attribution {
    font-size: 14px;
    text-align: center; 
}

.attribution a {
    color: var(--Bright-Cyan);
}


@media only screen and (max-width: 768px){
    body {
        text-align: center;
    }
    .container {
        padding: 0px 50px;
    }
    .desk-only {
        display: none;
    }    
    .desk-none {
        display: inline-block;
    }    
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .menu-toggle {
        display: none;
    }
    .landing .container {
        padding: 0px;
    }
    .content-left {
        padding: 20px 50px;
        margin: auto;
        max-width: 550px;
    }
    .main-heading {
        margin: auto;
        max-width: 400px;
        /* max-width: 350px; */
    }
    .landing-body {
        flex-direction: column-reverse;
    }
    .mockup-div {
        background: hsl(0, 0%, 98%) url('../images/bg-intro-mobile.svg') no-repeat;
        background-position: top center;
        background-size: cover;
        width: 100%;
        padding-top: 100%;
        position: relative;
    }    
    .mockup-img {
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        /* height: 100%; */
    }
    .ul-container,
    .foot-left,
    .foot-main {
        flex-direction: column;
    }
    .footer-right {
        align-items: center;
    }
}

@media only screen and (max-width: 576px){   
    .container {
        padding: 0px 20px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .content-left {
        padding: 20px;
    }
    .main-heading {
        font-size: 35px;
        max-width: 350px;
    }
}
